* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  nav {
    position: fixed;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;

  }
  
  .Link {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
    visibility: hidden;
  }
  
  .open .Link {
    overflow: visible;
    visibility: visible;
    transition: transform ease-in-out 0.4s, backdrop-filter ease-in-out 0.5s;
    transform: scale(1.1);
    backdrop-filter: blur(5px);
  }
  
  li {
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: rgb(0, 0, 161);
    transition: transform ease-in-out 0.5s, color 0.3s;
    height: 5rem;
    width: 340px;
    font-size: xx-large;
    
  }
  
  a:hover {
    opacity: 0.45;
    transform: scale(1.1) translate(30px);
  }
  
  /******************BURGER****************/
  
  .Menu {
    display: flex;
    justify-content: flex-end;
  }
  
  .Burger {
    position: absolute;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }
  
  .Burger:hover {
    opacity: 0.45;
    transition: 0.2s ease-in-out;
  }
  
  .Wrap {
    width: 40px;
    height: 4px;
    background: black;
    border-radius: 5px;
    box-shadow: 1px 2px 5px blue;
    transition: all 0.5s ease-in-out;
  }
  .Wrap::before,
  .Wrap::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 4px;
    background: black;
    border-radius: 5px;
    box-shadow: 1px 2px 5px blue;
    transition: all 0.5s ease-in-out;
  }
  /*************** ANIMATION- BURGER *****************/
  
  .open .Wrap {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }
  .open .Wrap::before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  .open .Wrap::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }
  
  .close .Burger .Wrap {
    background: black;
  }
  
  .close .Wrap::before {
    transform: translateY(16px);
  }
  
  .close .Wrap::after {
    transform: translateY(-16px);
  }
  