.FaqTitle {
    padding-top: 110px;
    text-align: center;
    font-weight: normal;
    font-size: 2em;
    color:  #6497b8;
}

.ImgQuest {
    background: no-repeat url(https://zupimages.net/up/20/20/33vl.png);

}