@font-face{
    font-family : "Cereal";
    src : url('./AirbnbCerealMedium.woff');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family : "Cereal", Helvetica, Arial, sans-serif;
  }

  input{
    margin :50px 100px;
}
.ON{
    background-color: #6497B8;
}
.OFF{
    background-color: rgb(189, 184, 184);
}
/* button{
    margin :50px 100px;
} */